*{ 
    margin: 0;
    padding: 0;
}
body{
    overflow-wrap: hidden;
    font-family: 'Lato', sans-serif;
    color: black;

}
#logo {
    
}
.container{
    position: absolute;
    text-align: center;
    font-family: sans-serif;
    color: #fff;
    top: 160px;
    
}
p {
    color: black;
    text-align: center;
}
h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: Pacifico, Calibre;
    font-size: 3em;
    
}
/* background screen image css*/
.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#image {
    width: 100%;
    height: 100%;
    background: url("image/h_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   }









/*=======BOOTSTRAP BREAK POINT:
Extra small (xs devices ()phones, less than 576px)
no media query since this is the default in Bootstrap

Small (sm) device (landscape phone,576px and up)}
@media(min-width: 576px)

Medium (md)devices (tablets, 768px and up)
@media (min-width: 768px) 

Large (lg) devices (desktop, 992px and up)