@import url('http://fonts.googleap.com/css?family=lato:400,700');
*{ 
    margin: 0px;
    padding: 0px;
}
body{
    margin: 100px;
    margin-top: 0px !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;

}
#showcase {
    background-image: url('../image/h_img.jpg');
    height:100vh;
    background-size:cover;
    background-position:relative;
    background-repeat:no-repeat;
    background-position: relative;    
}
.logo {
    position: relative;
    left: 550px;
    margin-top: 120px;
}

.title{
    position: relative;
    top: 80px;
    left: 500px;
}
#subheading{
    position: relative;
    left: -100px;
}
.paragraph{
    position: relative;
    top: 80px;
    left: 320px;
}
.mouse {
    position: relative;
    top: 210px;
    left: 580px;
}
.section-a{
    position: relative;
    text-align: center;
    margin-top: 20px;
    color: black;
} 
.section-b{
    background-image: url("../image/s_image.jpg");
    height: 300px;
    color: #fff;
}
#cd {
    position: relative;
    text-align: center;
    top: 48px;
}
.icondiv {
    margin-top: 35px;
    margin-bottom: 35px;
    
}
.icondiv > h2 {
    text-align: center;
}
/*css for the portfolio*/
.col-md-3 {
    padding: 15px;
}
.col-md-3:hover {
    opacity: 0.3;
}
.col-md-3 > img{
    width: 200px;
}

.form_input{
    width: 400px !important;
    margin-bottom: 20px;
}
#contact-us{
    background-image: url("../image/c_image.jpg");
}
.form{
    filter: alpha(opacity=50);
    opacity: 0.5;
    zoom: 1;
}
.contact-us{
    height: 380px !important;
}

.footer > ul >li{
    display: inline;
    position: relative;
    margin-top: 5px !important;
}
.button{
    position:relative;
    background-color: white;
}


/*=======BOOTSTRAP BREAK POINT:
Extra small (xs devices ()phones, less than 576px)
no media query since this is the default in Bootstrap

Small (sm) device (landscape phone,576px and up)}
@media(min-width: 576px)

Medium (md)devices (tablets, 768px and up)
@media (min-width: 768px) 

Large (lg) devices (desktop, 992px and up)